@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #0d0d0d;
  --darkgreen: #3d5919;
  --green: #738561;
  --brightgreen:#999f53;
  --brightberry:#912f57;
  --mediumberry:#712c48;
  --darkberry:#410016;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #1e1e1e;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--body);
  font-weight: 400;
  @apply px-0 lg:px-0
}


.fancy {
  font-family: var(--fancy);
}

.titles {
  font-family: var(--titles);
}

.absoluteCenter {
  @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] 
}

.button {
  @apply rounded-md bg-[var(--darkgreen)] px-4 py-2 text-xl titles tracking-widest font-semibold text-white shadow-sm hover:bg-[var(--green)] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600
}